.auction--details--wrapper {
    width: 90%;
}

.auction--details--tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    position: relative;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    background-color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.tab--text {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    height: 2rem;
    width: 7rem;
    text-align: center;
    padding-top: 0.5rem;
}

.active--tab {
    background-color: #FFF;
    color: #000;
    border-radius: 0.25rem;
}