.bid--wrapper {
    margin: 1rem 0;
}

.bid--button {
    margin-left: 0.5rem !important;
    width: 44%;
    height: 3.25rem !important;
    color: white !important;
    border: transparent !important;
    font-size: 1.25rem;
    font-weight: bold !important;
    border-radius: 5px;

    background-color: black;
    outline: none !important;
    cursor: pointer;
    transition: 0.3s;
}

.bid--button:hover {
    box-shadow: 0 17px 15px -9px rgba(0, 0, 0, 0.31);
    opacity: 1;
}

.bid--button:hover,
.bid--button:active,
.bid--button:focus,
.bid--button:disabled {
    /* background-color: gray !important; */
    outline: none !important;
    box-shadow: none !important;
}

.min--bid--copy {
    padding-top: 0;
    font-size: small;
    margin-left: 0.25rem;
    margin-bottom: 0.3rem;
}

.bid--input {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 1.125rem;
    font-weight: 500;
    height: 3rem !important;
    border: 1px solid #aaa !important;
    border-radius: 0.25rem !important;
    background-color: white !important;
    outline: none !important;
    box-shadow: none !important;
    padding-left: 1rem !important;
    width: 50%;
}

.bid--input:focus {
    border: none !important;
    border: 1px solid #aaa !important;
}

.custom--placeholder {
    position: absolute;
    top: 20%;
    font-weight: bold;
    color: #aaa;
    z-index: 3;
    right: 50%;
}

.bid--button--auction--ended {
    width: 100%;
    height: 3rem;
    color: white;
    border: transparent;
    background-color: var(--brand-black);
    font-weight: bold;
}

.bid--button--auction--ended:hover,
.bid--button--auction--ended:active,
.bid--button--auction--ended:focus,
.bid--button--auction--ended:disabled,
.wallet--disconnected {
    background-color: gray;
    opacity: 0.5;
    outline: none;
    cursor: not-allowed;
}

.wallet--disconnected:hover {
    box-shadow: none;
}

.bid--input--auction--ended {
    display: none;
}

.bid--input:focus {
    outline: none;
}

/* REMOVE UP/DOWN ARROWS FROM INPUT */
/* Chrome, Safari, Edge, Opera */
.bid--input::-webkit-outer-spin-button,
.bid--input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.bid--input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 992px) {
    .bid--input {
        border-color: #c3c3c3;
    }
    .custom--placeholder {
        left: 44%;
    }
}

.bid--input--container {
    width: 60%;
}

.place--bid--input--group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-top: 2rem;
}
