.create--auction--button {
    width: 100%;
    height: 3rem;
    color: white;
    border: transparent;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.create--auction--button:hover {
    box-shadow: 0 17px 15px -9px rgba(0,0,0,.31);
    opacity: 1;
}

.create--auction:hover,
.create--auction:active,
.create--auction:focus,
.create--auction:disabled,
.wallet--disconnected {
    background-color: gray;
    opacity: 0.5;
    outline: none;
    cursor: not-allowed;
}

.wallet--disconnected:hover {
    box-shadow: none;
}

.create--auction--input--group {
    margin-top: 2rem;
}
