.navbar {
    height: max-content;
    display: flex;
}

.logo {
    height: 2.5rem;
    margin: 2rem;
}

.right--navbar--display {
    position: absolute;
    right: 0;
    display: flex;
}

.wallet--address--container {
    display: flex;
    margin-top: 2.5rem;
    height: max-content;
}

.connected--circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #7fc59c;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 0.3rem;
}

.connect--wallet--button,
.nav-wallet-button {
    transition: .3s;
}

.connect--wallet--button:hover,
.nav-wallet-button:hover {
    box-shadow: 0 17px 15px -9px rgba(0,0,0,.31);
    opacity: 1;
}