.auction--info--wrapper {
    background-color: #FFF;
    border-radius: 0.5rem;
    border: 0.15rem solid #000;
    height: 35rem;
    width: 45rem;
    position: relative;
    top: -2rem;
    left: -5rem;
}

.auction--info--container {
    padding-left: 8rem;
    margin-top: 1.25rem;
}

.auction--title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

.divider {
    border-top: #f3f3f3;
    left: 0;
    margin-left: 0;
}

.auction--display--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-direction: column; */
}
