.leading--bid--wrapper {
    border: 2px solid #EBEBEB;
    border-radius: 0.5rem;
    padding: 0.625rem 0.75rem 0.5rem 0.75rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    transition: 0.3s;
    font-size: 1.125rem;
}

.leading--bid--wrapper:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.bidder--img {
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    position: relative;
    float: left;
    margin-top: -0.25rem;
}

.bidder--address {
    position: relative;
    top: 0.25rem;
}

.bidder--address--link,
.bidder--address--link:hover {
    color: #007aff;;
}

.bid--amount {
    position: relative;
    float: right;
}

.bid--text--details {
    margin-left: 0.5rem;
    top: -0.5rem;
    position: relative;
}

.sol--text--symbol {
    top: -0.125rem;
    position: relative;
}